@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scrollbar-color: #f3eaea #1e1d1d;
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background-color: var(#1e1d1d); /* Background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background-color: var(#f3eaea); /* Color of the scrollbar thumb */
    border-radius: 5px; /* Border radius of the scrollbar thumb */
}